body {
  background: #A0B0E0;
}

#intro {
  font-size: 40px;
  font-family: "HelveticaNeue-Light", helvetica;
  color: white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  visibility: hidden;
  text-shadow: rgb(A,0B0,E0) 1px 1px,
    rgb(1, 139, 81) 2px 2px,
    rgb(1, 139, 81) 3px 3px,
    rgb(1, 139, 81) 4px 4px,
    rgb(1, 139, 81) 5px 5px,
    rgb(1, 139, 81) 6px 6px,
    rgb(1, 139, 81) 7px 7px,
    rgb(1, 139, 81) 8px 8px,
    rgb(1, 139, 81) 9px 9px,
    rgb(1, 139, 81) 10px 10px,
    rgb(1, 139, 81) 11px 11px,
    rgb(1, 139, 81) 12px 12px,
    rgb(1, 139, 81) 13px 13px,
    rgb(1, 139, 81) 14px 14px,
    rgb(1, 139, 81) 15px 15px,
    rgb(1, 139, 81) 16px 16px,
    rgb(1, 139, 81) 17px 17px,
    rgb(1, 139, 81) 18px 18px,
    rgb(1, 139, 81) 19px 19px;
  height: 100%;
  width: 100%;
  font-size: 40px;
  text-align: center;
}

.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}



#button {
	border: 3px solid #fff;
	color: #fff;
  position:relative;
  display: inline-block;
  top:50%;
  left:50%;
  margin:50px 0 0 -95px;
  height:75px;
  width:200px;
  font-size:30px;
  font-family:"HelveticaNeue-Light",helvetica;
  background:rgb(1, 139, 81);
  cursor:pointer;
  box-shadow: 2px 5px 10px #777;
}

#button:hover {
  color:#999;
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}		
}


