<html>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="fa/css/font-awesome.min.css">
</head>

<body>
	<div class="container-fluid">
	 	<div class="row">
	      	<div class="col-sm-2" style="height:100%; background-color:#37474F">
				<div class="row well well-sm" id="navigation" style="color:white;background-color:#263238">
					<br><br>
					<div class="col-sm-4">
					<img src="foto.png" class="img-rounded img-responsive" alt="Meri foto">
					</div>
					<div class="col-sm-8">
					<h4> USERNAME </h4>
					<br><br>
					</div>
				</div>
				
				<table class="table table-hover" >
					<tr><td><a><span class="fa fa-home" ></span> HOME </a></td></tr>
					<tr><td><a><span class="fa fa-user"></span> PROFILE </a></td></tr>
					<tr><td><a><span class="fa "></span> THIRD </a></td></tr>
				</table>
				<div class="row">
				</div>
			</div>

			<div class="col-sm-10">
				<div class="row well well-sm">
					<h2 style="float:left;"> HOME </h2>
					<h2 style="float:right;"> search </h2>
				</div>
				<div class="container" style="background-color:#002235;">
					
					<div class="row">
					</div>

					<div class="row">
					</div>

					<div class="row">
					</div>

				</div>
			</div>
			</div>
		</div>
	</div>
</body>

</html>
