<html>
<head>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<style>
.demo-card-wide.mdl-card {
  
  width: 600px;
  color: #000;
}
.demo-card-wide > .mdl-card__title {
  color: #000;
  height: 176px;
  background-color: white;
}
.demo-card-wide > .mdl-card__menu {
  color: #000;
    padding-left: 50px;
}
</style></head>
    
    
    
<body bgcolor=#5d6d7e>
    <h3 align="center">About Us...</h3>
<center><table style="width:100% height:100px; " >
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Utkarsh Raj</b></h2><img src="https://avatars1.githubusercontent.com/u/9555129?v=3&s=400" style="height:200; width:200;  ">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Leader</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    <a href="https://github.com/clearnote01">github profile</a>&nbsp;
        <a href=" https://www.facebook.com/profile.php?id=100007124326674&fref=ts">facebook profile</a>
    </a>
  </div>
</div></td>
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Sagar Deep Kushwaha</b></h2><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/16174720_1204398276282306_6351690261722547114_n.jpg?oh=ff65c41267a8f97288272767edd82bc3&oe=59407B23" style="height:200px; width:200px;">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Co-Leader</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <a href=https://github.com/gitter-badger>github Profile</a> &nbsp;
        <a href="https://www.facebook.com/sagar.maurya.31?fref=ts">facebook profile</a>
    </a>
  </div>
      </div></td>
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Archit Jain</b></h2><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/15390807_1169645439767525_4743180872823862563_n.jpg?oh=5c9abd712f6d454e2ba799b5bcb9670e&oe=59079042" style="height:200px; width:200px;">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Co-Leader</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <a href ="https://github.com/orgs/Hackathon376/people/AlArchitJain">github Profile</a> &nbsp;
        <a href="https://www.facebook.com/AlArchitJain?fref=ts">facebook profile</a>
      </a>
  </div>
        </div></td>
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Aayush Jain</b></h2><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/15036283_1101206226659181_4683844453911153249_n.jpg?oh=e8c73f22b30f11c83f1dd68926d942c5&oe=59484B5A" style="height:200px; width:200px;">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Member</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <a href="https://github.com/aayushjn2">github Profile</a> &nbsp;
        <a href="https://www.facebook.com/aayush.jain.1848816">facebook profile</a>
      </a>
  </div>
        </div></td>
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Shubham Kamboj</b></h2><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/16299153_267920123621228_3329388548006622335_n.jpg?oh=17c0ce310b54c17cf0c19f58cb56dd57&oe=5913227C" style=" height:200px; width:200px;">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Member</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <a href="https://github.com/Zeroshubham376">github Profile</a> &nbsp; 
        <a href=" https://www.facebook.com/photo.php?fbid=267920123621228&set=a.126220811124494.1073741826.100012097277077&type=3">facebook profile</a>
    </a>
  </div>
        </div></td>
    <tr><td>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
      <h2 class="mdl-card__title-text"><b>Sujeet Kumar Singh</b></h2><img src="https://scontent.fdel3-1.fna.fbcdn.net/v/t1.0-9/15871973_714707272038823_8609424526243644903_n.jpg?oh=ff20df779511f53fc99ed91ee8948dae&oe=58FD72D5" style="height:200px; width:200px;">
  </div>
  <div class="mdl-card__supporting-text">
      <b>Team Member</b>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
        <a href=https://github.com/VictoriousSUJEET>github Profile</a> &nbsp;
        <a href="https://www.facebook.com/VictoriousSUJEET?fref=ts">facebook profile</a>
    </a>
  </div>
        </div>
    </td>
    </table></center>
    
</body>
</html>